<div class="col-md-6 offset-md-3">

   <div>

    <h3>
        Student's List
    </h3>

    <table class="table table-striped">

        <thead>
            <tr>

                <th>Student Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor = "let std of students">
                <td>{{std.id}}</td>
                <td>{{std.name}}</td>
                <td>{{std.email}}</td>
                <td>{{std.gender}}</td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-secondary">View</button></td>
                <td><button class="btn btn-danger">Delete</button></td>

            </tr>
        </tbody>

    </table>
   </div>
</div>
