<div id="app">
  <nav class="navbar navbar-expand">
      <a class="nav-link" routerLink="/home"><h4>SMS</h4></a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registorStudent">Registor Student</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/studentList">Student List</a>
          </li>
      </ul>
  </nav>

</div>
<router-outlet></router-outlet>
